@font-face {
    font-family:'Boots-Spurs';
    src:url('Boots-Spurs.ttf.woff') format('woff'),
        url('Boots-Spurs.ttf.svg#Boots-Spurs') format('svg'),
        url('Boots-Spurs.ttf.eot'),
        url('Boots-Spurs.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
    
}


header {background-color: black;
 color: white;}

 .section 

 .filing  {
     color: white;
     display: -moz-inline-stack    
        
 }

 .Sale{background-color: green;
color: #FFF;
}

 .guitar{background-color: red;
color: #FFF;
}
 
.review{background-color:darkgrey;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;


}
h1{ 
    font-family:"Boots-Spurs" ;

} 


 

