header {background-color: black;
 color: white;}

 .section 

 .filing  {
     color: white;
     display: -moz-inline-stack    
        
 }

 .Sale{background-color: green;
color: #FFF;
}

 .guitar{background-color: red;
color: #FFF;
}
 
.review{background-color:darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.Fonts{font-family: "Open Sans" Verdana, Sans-serif; }
 


 

